<form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" required [(ngModel)]="usuario.username" name="username">
    </div>
  
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" required [(ngModel)]="usuario.nombre" name="nombre">
    </div>
  
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" required [(ngModel)]="usuario.email" name="email">
    </div>
    
  
    <button type="submit">Guardar Cambios</button>
  </form>
  
