<body class="fondo">
  <div class="container">
    <h2>Listado de Productos</h2>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let producto of productos">
    <div class="card">
      <div class="card-img-container">
        <img class="card-img-top" [src]="producto.imagenUrl" alt="Imagen del producto">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">Precio: {{ producto.precio }} €</p>
        <button (click)="agregarAlCarrito(producto)" class="btn btn-primary">Agregar al Carrito</button>
      </div>
    </div>
  </div>
</div>
</body>