
<body class="body">
    <div class="help-container">
        <h1>Manual de Usuario</h1>
        <section>
            <h2>Inicio de Sesión y Registro</h2>
            <p>Para utilizar las funciones de nuestra página, primero debes iniciar sesión. Si no tienes una cuenta, regístrate siguiendo estos pasos:</p>
            <ol>
                <li>Haz clic en "Registrarse" en la esquina superior derecha.</li>
                <li>Completa el formulario de registro con tus datos.</li>
                <li>Inicia sesión con tu nombre de usuario y contraseña.</li>
            </ol>
        </section>
        <section>
            <h2>Funcionalidades de la Página</h2>
            <h3>Home</h3>
            <p>En la página de inicio, puedes ver una selección de nuestros productos destacados.</p>
            <h3>Catálogo</h3>
            <p>En la sección de catálogo, podrás ver todos nuestros productos. Aquí tienes la opción de añadir productos a tu carrito de compras.</p>
            <h3>Carrito de Compras</h3>
            <p>En el carrito de compras, puedes revisar los productos que has seleccionado y tienes la opción de finalizar la compra.</p>
            <h3>Contacto</h3>
            <p>Si necesitas ponerte en contacto con nosotros, puedes hacerlo a través de la sección de contacto.</p>
        </section>
    </div>
</body>


