<body >

  <div class="container-fluid">
    
    <div class="row align-items-center">
      <!-- Div con la descripción a la izquierda -->
      <div class="col-md-6">
        <div class="descripcion text-center mb-4">
          <h2>¿QUIENES SOMOS?</h2>
          <p>¡Bienvenido a SRTIOSA! Somos una emocionante y fresca plataforma que busca ofrecerte lo último y lo mejor en el mundo de los juegos y la tecnología. Únete a nosotros mientras exploramos juntos el emocionante universo de los juegos y la tecnología.</p>
          <!-- Botón centrado -->
          <button class="btn" [routerLink]="'/signup'">Uneta ya a nosotros!!</button>
        </div>
      </div>
      <!-- Carrusel a la derecha -->
      <div class="col-md-6">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://m.media-amazon.com/images/I/71jzOMSYSfL.__AC_SX300_SY300_QL70_ML2_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://m.media-amazon.com/images/I/91EZygggBwL.__AC_SX300_SY300_QL70_ML2_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://m.media-amazon.com/images/I/81dhAH6jZ4L.__AC_SX300_SY300_QL70_ML2_.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="titulo-container bg-dark text-center py-2 nar">
          <h2 class="m-0 ">Otros accesorios</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4"> <!-- Añade mt-4 aquí -->
      <!-- Serie de imágenes de otros accesorios -->
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="../../../assets/cascos.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="../../../assets/ps5.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="../../../assets/mandops5.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
        <!-- Texto centrado debajo de las imágenes -->
        <div class="text-center">
          <p>Descubre nuestra amplia gama de accesorios para mejorar tu experiencia de juego.</p>
        </div>
      </div>
    </div>
    
    <div class="row mt-4 mb-4"> <!-- Añade mt-4 y mb-4 aquí -->
      <div class="col-md-12">
        <div class="titulo-container bg-dark text-center py-2 nar">
          <h2 class="m-0">Últimas novedades</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Serie de imágenes de últimas novedades -->
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="https://m.media-amazon.com/images/I/81dhAH6jZ4L._AC_SX569_.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="https://m.media-amazon.com/images/I/717n2jHZ7pL.__AC_SX300_SY300_QL70_ML2_.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="https://m.media-amazon.com/images/I/81gOFlzopdL.__AC_SX300_SY300_QL70_ML2_.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
        <!-- Texto centrado debajo de las imágenes -->
        <div class="text-center">
          <p>Mantente al día con las últimas novedades en tecnología y juegos.</p>
        </div>
      </div>
    </div>
    
  </div>
</body>
