<body class="body">

    <div class="container">
        <h1>Contacta con nosotros!!</h1>
        <p class="instructions">Rellene el motivo por el cual se quiera poner en contacto con nosotros y escriba la descripción de lo que quiera comunicarnos.</p>
        <div class="item">
            <h2>Motivo</h2>
            <input type="text" id="motivo" placeholder="Ingrese el motivo...">
        </div>
        <div class="item">
            <h2>Descripción</h2>
            <textarea id="descripcion" rows="4" cols="50" placeholder="Ingrese la descripción..."></textarea>
            
        </div>
        <div class="item">
            <button (click)="enviarFormulario()">Enviar</button>
        </div>
    </div>
    
    </body>